<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [38]:
import pandas as pd
df = pd.read_csv("Tdata.csv")
df.head()

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [40]:
df.drop('Transaction',axis=1,inplace=True)

### Step 3: Count Single Items
See how many transactions include each item.

In [42]:
df.sum()

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [56]:
from itertools import combinations

def find_frequent_itemsets(df, min_support):
    n = len(df)
    result = []

    for k in [1, 2, 3]:
        for items in combinations(df.columns, k):
            mask = df[list(items)].all(axis=1)
            print("items:", items, "\tmask sum:", mask.sum())
            support = mask.sum() / n
            if support >= min_support:
                result.append((frozenset(items), round(support, 2)))

    return result

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [66]:
Apriori = find_frequent_itemsets(df,0.6)
Apriori

items: ('bread',) 	mask sum: 5
items: ('butter',) 	mask sum: 3
items: ('coffee',) 	mask sum: 2
items: ('eggs',) 	mask sum: 2
items: ('jam',) 	mask sum: 2
items: ('milk',) 	mask sum: 3
items: ('bread', 'butter') 	mask sum: 3
items: ('bread', 'coffee') 	mask sum: 1
items: ('bread', 'eggs') 	mask sum: 1
items: ('bread', 'jam') 	mask sum: 1
items: ('bread', 'milk') 	mask sum: 3
items: ('butter', 'coffee') 	mask sum: 0
items: ('butter', 'eggs') 	mask sum: 0
items: ('butter', 'jam') 	mask sum: 1
items: ('butter', 'milk') 	mask sum: 2
items: ('coffee', 'eggs') 	mask sum: 1
items: ('coffee', 'jam') 	mask sum: 1
items: ('coffee', 'milk') 	mask sum: 0
items: ('eggs', 'jam') 	mask sum: 1
items: ('eggs', 'milk') 	mask sum: 1
items: ('jam', 'milk') 	mask sum: 0
items: ('bread', 'butter', 'coffee') 	mask sum: 0
items: ('bread', 'butter', 'eggs') 	mask sum: 0
items: ('bread', 'butter', 'jam') 	mask sum: 1
items: ('bread', 'butter', 'milk') 	mask sum: 2
items: ('bread', 'coffee', 'eggs') 	mask sum: 0
items: ('bread', 'coffee', 'jam') 	mask sum: 0
items: ('bread', 'coffee', 'milk') 	mask sum: 0
items: ('bread', 'eggs', 'jam') 	mask sum: 0
items: ('bread', 'eggs', 'milk') 	mask sum: 1
items: ('bread', 'jam', 'milk') 	mask sum: 0
items: ('butter', 'coffee', 'eggs') 	mask sum: 0
items: ('butter', 'coffee', 'jam') 	mask sum: 0
items: ('butter', 'coffee', 'milk') 	mask sum: 0
items: ('butter', 'eggs', 'jam') 	mask sum: 0
items: ('butter', 'eggs', 'milk') 	mask sum: 0
items: ('butter', 'jam', 'milk') 	mask sum: 0
items: ('coffee', 'eggs', 'jam') 	mask sum: 1
items: ('coffee', 'eggs', 'milk') 	mask sum: 0
items: ('coffee', 'jam', 'milk') 	mask sum: 0
items: ('eggs', 'jam', 'milk') 	mask sum: 0

[(frozenset({'bread'}), 0.83)]

### Step 6 Display as a DataFrame

In [68]:
result_df = pd.DataFrame(Apriori, columns=["itemset","support"])
result_df

   itemset  support
0  (bread)     0.83

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools